In [49]:
!pip install mlxtend "--user"

Collecting mlxtend
  Using cached mlxtend-0.21.0-py2.py3-none-any.whl (1.3 MB)
Requirement already satisfied: scipy>=1.2.1 in c:\users\acer\anaconda3\lib\site-packages (from mlxtend) (1.6.2)
Requirement already satisfied: joblib>=0.13.2 in c:\users\acer\anaconda3\lib\site-packages (from mlxtend) (1.2.0)
Requirement already satisfied: numpy>=1.16.2 in c:\users\acer\anaconda3\lib\site-packages (from mlxtend) (1.20.1)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\acer\anaconda3\lib\site-packages (from mlxtend) (1.2.2)
Requirement already satisfied: pandas>=0.24.2 in c:\users\acer\anaconda3\lib\site-packages (from mlxtend) (1.2.4)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\acer\anaconda3\lib\site-packages (from mlxtend) (3.3.4)
Requirement already satisfied: setuptools in c:\users\acer\anaconda3\lib\site-packages (from mlxtend) (52.0.0.post20210125)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\acer\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.1)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\acer\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\acer\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.10.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\acer\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (8.2.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in c:\users\acer\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.4.7)
Requirement already satisfied: six in c:\users\acer\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib>=3.0.0->mlxtend) (1.15.0)
Requirement already satisfied: pytz>=2017.3 in c:\users\acer\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2021.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\acer\anaconda3\lib\site-packages (from scikit-learn>=1.0.2->mlxtend) (2.1.0)
Installing collected packages: mlxtend
Successfully installed mlxtend-0.21.0

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.preprocessing import LabelEncoder

In [3]:
df = sns.load_dataset("iris")

In [9]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [17]:
encoder = LabelEncoder()
df["species"] = encoder.fit_transform(df["species"])
df

     sepal_length  sepal_width  petal_length  petal_width  species
0             5.1          3.5           1.4          0.2        0
1             4.9          3.0           1.4          0.2        0
2             4.7          3.2           1.3          0.2        0
3             4.6          3.1           1.5          0.2        0
4             5.0          3.6           1.4          0.2        0
..            ...          ...           ...          ...      ...
145           6.7          3.0           5.2          2.3        2
146           6.3          2.5           5.0          1.9        2
147           6.5          3.0           5.2          2.0        2
148           6.2          3.4           5.4          2.3        2
149           5.9          3.0           5.1          1.8        2

[150 rows x 5 columns]

In [20]:
df = df[["sepal_length", "petal_length", "species"]]
df

     sepal_length  petal_length  species
0             5.1           1.4        0
1             4.9           1.4        0
2             4.7           1.3        0
3             4.6           1.5        0
4             5.0           1.4        0
..            ...           ...      ...
145           6.7           5.2        2
146           6.3           5.0        2
147           6.5           5.2        2
148           6.2           5.4        2
149           5.9           5.1        2

[150 rows x 3 columns]

In [27]:
X = df.iloc[:,0:2]
y = df.iloc[:, -1]

In [28]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=2)

In [34]:
clf = LogisticRegression(multi_class="multinomial")

In [35]:
clf.fit(X_train, y_train)

LogisticRegression(multi_class='multinomial')

In [37]:
y_pred = clf.predict(X_test)

In [39]:
print(accuracy_score(y_test,y_pred))

0.9666666666666667

In [42]:
pd.DataFrame(confusion_matrix(y_test,y_pred))

    0  1  2
0  14  0  0
1   0  7  1
2   0  0  8

In [44]:
query = np.array([[3.4,2.7]])
clf.predict_proba(query) #This gives all the probability of the given data to be 0,1 or 2
# the probability data to be 0 is 7025, 1 is 2.73627 and 2 is 4.14246

array([[7.25957888e-01, 2.73627865e-01, 4.14246954e-04]])

In [46]:
clf.predict(query) # Now this statement predicts our given data in this case its 0 meanina setosa

array([0], dtype=int64)

In [54]:
from mlxtend.plotting import plot_decision_regions

plot_decision_regions(X.values, y.values, clf, legend=2)

# Adding axes annotations
plt.xlabel('sepal length [cm]')
plt.xlabel('petal length [cm]')
plt.title('Softmax on Iris')

plt.show()

ModuleNotFoundError: No module named 'mlxtend'